openapi: 3.1.0
info:
  title: Firebolt REST Firebolt REST API Oauth API
  description: Issue SQL queries against Firebolt engines and manage account/engine resources. Authentication is OAuth 2.0 client_credentials against https://id.app.firebolt.io/oauth/token (audience https://api.firebolt.io). The returned bearer token is used on subsequent requests against api.app.firebolt.io and individual engine URLs.
  version: '1.0'
  contact:
    name: Firebolt
    url: https://docs.firebolt.io/guides/run-queries/using-the-api
servers:
- url: https://api.app.firebolt.io
  description: Firebolt account / management API
- url: https://id.app.firebolt.io
  description: Firebolt identity / OAuth API
security:
- bearerAuth: []
tags:
- name: Oauth
paths:
  /oauth/token:
    post:
      summary: Obtain an access token (OAuth 2.0 client credentials)
      operationId: getOAuthToken
      security: []
      servers:
      - url: https://id.app.firebolt.io
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - grant_type
              - client_id
              - client_secret
              - audience
              properties:
                grant_type:
                  type: string
                  enum:
                  - client_credentials
                client_id:
                  type: string
                client_secret:
                  type: string
                audience:
                  type: string
                  example: https://api.firebolt.io
      responses:
        '200':
          description: Token response
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  token_type:
                    type: string
                    example: Bearer
                  expires_in:
                    type: integer
      tags:
      - Oauth
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
